* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f7f7f9;
  width: 375px;
  height: 5810px;
  padding-top: 19px;
  padding-left: 0;
  display: grid;
}

.projects {
  display: grid;
  margin-top: 0;
}

.project1,
.project2,
.project3,
.project4,
.aboutself {
  display: flex;
  flex-direction: column;
}

.project1,
.project3 {
  width: 327px;
  height: 552px;
  padding-left: 8px;
  padding-top: 30px;
  padding-right: 8px;
  padding-bottom: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.project1 {
  margin-top: 130%;
}

.project2,
.project3,
.project4 {
  margin-top: 20%;
}

.project2,
.project4 {
  width: 327px;
  height: 596px;
  padding-left: 8px;
  padding-top: 30px;
  padding-right: 8px;
  padding-bottom: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.snap {
  width: 295px;
  height: 220px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  margin-top: -25px;
}

.heading1 {
  width: 295px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
  font-style: normal;
}

.heading2 {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
  font-style: normal;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 236px;
  height: 32px;
  padding-top: 3px;
  margin-right: 60px;
  margin-top: 5px;
}

.canopy {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  width: 55px;
  height: 16px;
  padding-top: 8px;
  list-style-type: none;
  padding-right: 27px;
}

.end1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  width: 90px;
  line-height: 16px;
  padding-top: 8px;
  color: #7a869a;
  list-style: disc;
  height: 16px;
  padding-left: 4px;
  padding-right: 27px;
}

.end {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  width: 29px;
  line-height: 16px;
  padding-top: 8px;
  color: #7a869a;
  list-style: disc;
  height: 16px;
  padding-left: 4px;
}

.p {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-top: 20px;
}

.ht {
  width: 53px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  border: 0;
  font-size: 15px;
  font-weight: 500;
  color: #6070ff;
}

.ssc {
  width: 45px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  border: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6070ff;
}

.sj {
  width: 89px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  border: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6070ff;
}

.butto {
  display: flex;
  padding-inline-start: 0;
  margin-left: -6rem;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-decoration: none;
}

.pro1 {
  align-items: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  margin-left: -11rem;
  margin-top: 5px;
  color: #396df2;
  background-color: #fff;
  font-size: 17px;
}

.aboutself {
  height: 1263px;
  display: flex;
  background-color: #fff;
  border-top-right-radius: 90px;
  margin-top: 30%;
}

.about {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
  width: 327px;
  height: 101px;
  padding-top: 80px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.par {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding-left: 16px;
  padding-top: 10px;
  width: 327px;
  height: 144px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #7f8cff;
  padding-left: 16px;
  padding-top: 7px;
}

.contact {
  display: inline-flex;
  padding-left: 16px;
  align-items: baseline;
  padding-top: 15px;
  list-style-type: none;
}

.twitter {
  width: 19.99px;
  height: 19.96px;
  color: #505f79;
  padding-left: 20px;
}

.email {
  width: 20px;
  height: 16px;
  padding-left: 20px;
  color: #505f79;
}

.linkedin {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  color: #505f79;
}

.github {
  width: 20px;
  height: 20px;
  color: #505f79;
}

.vector {
  width: 14.17px;
  height: 20px;
  padding-left: 20px;
  color: #505f79;
}

.resume {
  display: flex;
  align-items: center;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 7px;
  background-color: #fff;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding: 4px;
  letter-spacing: 00.03em;
  margin-top: 15px;
  margin-left: 16px;
  padding-left: 10px;
}

.language {
  padding-left: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  display: flex;
  width: 237px;
  height: 24px;
  padding-top: 30px;
  list-style-type: none;
}

.dropdown {
  width: 14px;
  height: 8px;
  color: #5e6c84;
  display: inline-flex;
  align-items: flex-end;
  padding-left: 50px;
}

.languages {
  display: inline-flex;
  align-items: baseline;
}

.ellip {
  list-style-type: none;
  font-weight: bold;
}

.ellipse {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  background-color: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 30px;
  margin-left: 16px;
}

.ellipse2 {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  background-color: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 12px;
  margin-left: 16px;
}

.ellipse3 {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  background-color: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 12px;
  margin-left: 16px;
}

.skills {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 237px;
  height: 24px;
  list-style-type: none;
  padding-left: 0;
}

.frame {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  width: 303px;
  height: 66.72px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 30px;
  margin-left: 16px;
}

hr {
  margin-left: 16px;
  margin-right: 25px;
}

.home {
  display: flex;
  width: 375px;
  height: 716px;
  padding-top: 0;
  padding-bottom: 16px;
  border: 0.5px;
  border-bottom-left-radius: 85px;
  background-color: #fff;
  align-items: center;
  padding-left: -2rem;
  margin-bottom: -430px;
}

/* Intro styles */
.toolbar {
  width: 375px;
  display: inline-flex;
  height: 48px;
  padding-left: 8px;
  padding-bottom: 30px;
  padding-top: 0;
  margin-bottom: 600px;
}

.menu {
  text-align: left;
  display: inline-flex;
  padding-left: 200px;
}

.headline {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 604px;
  background-image: url("images/headlinebackground.png");
  background-repeat: no-repeat;
  background-position: 100%;
  top: 92px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-top: -70px;
  color: #7a869a;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.hea {
  padding-top: 90px;
}

.heading {
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  top: 114px;
  left: 24px;
  padding-top: 100px;
  padding-left: 40px;
  padding-left: 16px;
  color: #172b4d;
}

.paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  width: 327px;
  height: 146px;
  font-size: 16px;
  padding-left: 16px;
  padding-top: 30px;
  color: #344563;
}

.connect1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 40px;
  padding-left: 16px;
  padding-top: 5px;
  color: #7f8cff;
  width: 200px;
  height: 24px;
}

.contact1 {
  margin: 0;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-top: 1px;
  display: inline-flex;
  align-items: baseline;
  list-style-type: none;
}

.twitter1 {
  width: 19.99px;
  height: 19.96px;
  color: #505f79;
}

.linkedin1 {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  color: #505f79;
}

.email1 {
  width: 20px;
  height: 16px;
  padding-left: 20px;
  color: #505f79;
}

.github1 {
  width: 17.99px;
  height: 20px;
  padding-left: 20px;
  color: #505f79;
}

.vector1 {
  width: 14.17px;
  height: 20px;
  padding-left: 20px;
  color: #505f79;
}

button.pro1:enabled,
button.resume:enabled {
  background: #fff;
  color: #6070ff;
}

button.pro1:hover,
button.resume:hover {
  background: #6070ff;
  color: #fff;
}

button.pro1:active,
button.resume:active {
  background: #2230d2;
  color: #fff;
}

button.pro1:disabled,
button.resume:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

#contact-form {
  background: #6070ff;
  border-radius: 50px 0 0 0;
  color: #ebebff;
  height: 790px;
  font-family: Poppins, sans-serif;
  background-image: url("./images/contact-form-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-top: -50%;
}

#contact-form .form {
  border: none;
  text-align: center;
}

#contact-form .form .heading {
  color: #fff;
  margin: 20px 0px;
}
#contact-form .form .heading ul {
  display: flex;
  flex-direction: column;
}

#contact-form .form .heading ul li {
  width: 100%;
}

#contact-form .form input {
  width: 89%;
  /* margin: 7px 9px; */
  border-radius: 8px;
  padding: 12px 3px 12px 7px;
  border: 1px solid #cfd8dc;
}

input[type=text] {
  margin-top: 10%;
}

input[type=email] {
  margin-top: 4%;
}

#contact-form .form textarea {
  width: 89%;
  margin: 15px 6px;
  border-radius: 8px;
  padding: 12px 3px 5px 9px;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
}

.submit {
  width: 35%;
  border-radius: 8px;
  padding: 12px 0 12px 15px;
  color: #6070ff;
  text-align: center;
  font-size: 17px;
  margin-top: 7px;
  background-color: #fff;
}

li button {
  display: flex;
  margin-left: 20px;
  border: 1px solid #cfd8dc;
}

.message {
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
