* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f7f7f9;
  width: fit-content;
  height: auto;
}

main {
  display: grid;
}

.logo {
  animation: logo-anim;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 4s;
}

@keyframes logo-anim {
  from {
    margin-left: -200%;
  }

  to {
    margin-left: 0%;
  }
}

.detail-image {
  width: 96%;
  height: 50%;
  padding: 0;
  border-radius: 8px;
  margin: 1%;
}

.detail-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 200%;
  color: #172b4d;
  text-align: left;
  padding-left: 2%;
}

#popup-close:hover {
  cursor: pointer;
}

.blur {
  position: fixed;
  filter: blur(8px);
}

/* Mobile version */
@media only screen and (max-width: 992px) {
  body {
    margin: 0;
    background-color: #f7f7f9;
    block-size: fit-content;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }

  /* Email Validation */
  .show {
    display: inline-block;
    font-size: medium;
    text-shadow: 0 0 5px #253858;
    background-color: #2f65c3af;
    color: rgb(60, 255, 0);
    max-width: max-content;
    border: 3px solid #aebad3;
    box-shadow: 0 0 14px #52dfd8;
    border-radius: 5px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 20px;
    padding: 10px;
    z-index: 2;
    transition: all 0.45s;
  }

  .project_details {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #dfe1e6;
    border-radius: 3%;
    padding-top: 16%;
    padding-bottom: 19%;
    padding-left: 2%;
    padding-right: 1%;
  }

  .showpopup {
    visibility: visible;
    opacity: 1;
  }

  .detail {
    font-family: "Poppins", sans-serif;
    width: 99%;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    padding-left: 3%;
    padding-right: 7%;
    color: #344563;
  }

  .detail-list {
    margin-top: -4%;
  }

  .live,
  .Source {
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: 45%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 40px;
    margin-top: 5%;
    margin-left: 2%;
    color: #396df2;
    background-color: #fff;
    font-size: 110%;
    margin-bottom: 9%;
  }

  .detail-header {
    margin-top: 8%;
  }

  #technologies {
    border-bottom: 1px solid #e5e5e5;
    margin-right: 8%;
  }

  #popup-close {
    font-size: 200%;
    float: right;
    margin-top: -10%;
    color: #67798e;
    transition: all 0.2s;
  }

  #popup-close:hover {
    transform: scale(1.3);
    color: #00d9ff;
  }

  #popup-close:active {
    color: #67798e;
  }

  .dmenu,
  .snap1,
  .snap2,
  .heading3,
  .heading4 {
    display: none;
  }

  .home {
    background-color: #fff;
    width: 100%;
    block-size: fit-content;
    border-bottom-left-radius: 10%;
  }

  .toolbar {
    width: 100%;
    display: inline;
    padding-left: 3%;
  }

  .menu {
    float: right;
    margin-top: -50px;
  }

  /* Mobile Menu */
  #mobile-menu {
    background-color: #6070ffe7;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 8%;
    transition: 0.5s;
    transform: translateX(-100%);
  }

  #menu-exit {
    text-decoration: none;
    color: #fff;
    font-size: 42px;
    align-self: flex-end;
  }

  #menu-exit:hover {
    cursor: pointer;
  }

  .menu-link {
    margin-bottom: 20px;
  }

  .menu-link a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
  }

  .headline {
    background: url("images3/header-shapes\ mobile@2x.svg") no-repeat;
    max-width: 100%;
    height: 587.15px;
    background-size: 99% 98%;
    background-position: 100%;
    margin-bottom: 0;
    padding-bottom: 110%;
    margin-top: 5%;
    margin-left: 0;
  }

  .hea {
    padding-top: 20%;
    padding-left: 6%;
    padding-right: 2%;
  }

  .heading {
    width: 90%;
    font-weight: 700;
    font-size: 300%;
    color: #172b4d;
    line-height: 110%;
  }

  .paragraph,
  .p,
  .par {
    font-family: "Poppins", sans-serif;
    width: 95%;
    font-weight: 400;
    font-size: 120%;
    line-height: 135%;
    padding-left: 6%;
    padding-right: 7%;
    padding-top: 5%;
    color: #344563;
  }

  .connect1,
  .connect {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500.24;
    padding-left: 6%;
    padding-top: 3%;
    color: #7f8cff;
  }

  .contact1,
  .contact {
    width: 100%;
    height: 3%;
    margin: 0;
    padding-left: 6%;
    padding-top: 1%;
    margin-top: 1%;
    display: inline-flex;
    align-items: baseline;
    list-style-type: none;
  }

  .twitter1,
  .twitter {
    width: 55%;
    color: #505f79;
  }

  .linkedin1,
  .linkedin {
    width: 55%;
    color: #505f79;
  }

  .email1,
  .email {
    width: 55%;
    color: #505f79;
  }

  .github1,
  .github {
    width: 55%;
    color: #505f79;
  }

  .vector1,
  .vector {
    width: 55%;
    color: #505f79;
  }

  .projects {
    align-self: center;
  }

  .project {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
  }

  .project1,
  .project2,
  .project3,
  .project4 {
    height: 50%;
    padding: 4%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background-color: #fff;
    margin-top: 29%;
  }

  .snap {
    width: 96%;
    height: 50%;
    padding: 0;
    border-radius: 8px;
    margin: 2%;
  }

  .heading1,
  .heading2 {
    width: 85%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 150%;
    line-height: 180%;
    color: #172b4d;
    text-align: left;
    padding-left: 2%;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 20%;
    padding-top: 2%;
    margin-left: 3%;
  }

  .canopy,
  .end1,
  .end {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 95%;
    color: #344563;
    width: 50%;
    height: 15%;
    list-style-type: none;
  }

  .end1,
  .end {
    width: 66%;
    color: #7a869a;
    list-style-type: disc;
  }

  .end {
    width: 50%;
  }

  .p {
    padding-left: 3%;
  }

  .ht,
  .ssc,
  .sj {
    width: 97%;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    border: 0;
    font-size: 90%;
    font-weight: 500;
    color: #6070ff;
  }

  .ssc,
  .sj {
    margin-left: 15%;
  }

  .butto {
    display: flex;
    padding-inline-start: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    padding-left: 3%;
  }

  .pro1 {
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: 35%;
    height: 48px;
    margin-top: 2%;
    margin-left: 2%;
    color: #396df2;
    background-color: #fff;
    font-size: 110%;
  }

  .aboutself {
    display: flex;
    padding-bottom: 30%;
    flex-direction: column;
    background-color: #fff;
    border-top-right-radius: 90px;
    margin-top: 120px;
    block-size: fit-content;
  }

  .about {
    font-family: "Poppins", sans-serif;
    font-size: 200%;
    line-height: 180%;
    font-weight: 700;
    color: #172b4d;
    width: 90%;
    height: 101px;
    padding-top: 30%;
    padding-left: 6%;
    display: flex;
    align-items: center;
  }

  .par {
    padding-top: 15%;
  }

  .connect {
    font-size: 130%;
  }

  .contact {
    width: 300%;
    margin-top: 4%;
  }

  .twitter,
  .linkedin,
  .email,
  .github,
  .vector {
    width: 60%;
  }

  .twitter {
    margin-left: 70%;
  }

  .linkedin {
    margin-left: 40%;
  }

  .email {
    margin-left: 70%;
  }

  .vector {
    margin-left: 70%;
  }

  .resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 5%;
    border: 1px solid #6070ff;
    border-radius: 7px;
    background-color: #fff;
    color: #396df2;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    padding: 3%;
    letter-spacing: 00.03em;
    margin-top: 5%;
    margin-left: 6%;
  }

  .language {
    padding-left: 6%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #000;
    display: flex;
    width: 45%;
    height: 24px;
    padding-top: 25px;
    list-style-type: none;
  }

  .dropdown {
    width: 3.5%;
    color: #5e6c84;
    display: inline-flex;
    align-items: flex-end;
    margin-left: 90%;
  }

  .language-list {
    display: block;
  }

  .ellip {
    list-style-type: none;
  }

  .ellipse,
  .ellipse2,
  .ellipse3 {
    display: inline-flex;
    align-items: center;
    padding-left: 3%;
    background-color: #f7f7f9;
    width: 90%;
    height: 66.72px;
    border-radius: 8px;
    margin-top: 6%;
    margin-left: 6%;
  }

  .ellipse2,
  .ellipse3 {
    margin-top: 2%;
  }

  .skills {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 150%;
    width: 50%;
    height: 24px;
    list-style-type: none;
  }

  .frame {
    display: inline-flex;
    align-items: center;
    width: 90%;
    height: 66.72px;
    margin-top: 5%;
    margin-left: 6%;
  }

  .drop {
    display: inline-flex;
    margin-left: 40%;
  }

  hr {
    margin-left: 6%;
    margin-right: 6%;
  }

  .pro1:enabled,
  .resume:enabled {
    background: #fff;
    color: #6070ff;
  }

  .pro1:hover,
  .resume:hover {
    background: #6070ff;
    color: #fff;
  }

  .pro1:active,
  .resume:active {
    background: #2230d2;
    color: #fff;
  }

  .pro1:disabled,
  .resume:disabled {
    border: 1px solid #c1c7d0;
    color: #5e6c84;
  }

  .Contact {
    width: 100%;
    block-size: fit-content;
    background-color: #6070ff;
    margin-top: -13%;
    border-top-left-radius: 12%;
    background-image: url("images3/contact\ form\ shapes-mobile@2x.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-top: 9%;
  }

  .contact-heading {
    color: #fff;
    font-weight: 700;
    font-size: 250%;
    padding-left: 20%;
    padding-top: 103px;
  }

  .contact-message {
    width: 95%;
    height: 102px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 130%;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    padding-left: 6%;
    padding-top: 4%;
  }

  .form_content {
    display: flex;
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 85%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    padding-left: 16px;
    margin-top: 15%;
    margin-left: 7%;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 130%;
    color: #172b4d;
  }

  input[type="email"],
  textarea {
    margin-top: 1%;
  }

  textarea {
    height: 170px;
  }

  .submit {
    text-align: center;
    width: 40%;
    height: 48px;
    padding: 2%;
    margin-left: 7%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    cursor: pointer;
    font-size: 110%;
    font-weight: 500;
    color: #396df2;
    letter-spacing: 00.03em;
    border: 1px solid #6070ff;
    margin-bottom: 3%;
  }

  .submit:enabled {
    background: #fff;
    color: #6070ff;
  }

  .submit:hover {
    background-color: #6070ff;
    color: #fff;
    border: 0.5px solid #c0c0c0;
  }

  .submit:active {
    background-color: #2230d2;
    color: #fff;
  }

  .submit:disabled {
    border: 1px solid #c1c7d0;
    color: #5e6c84;
  }
}

@media only screen and (min-width: 992px) {
  body {
    margin: 0;
    background-color: #f7f7f9;
    height: auto;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }

  /* Email Validation */
  .show {
    display: inline-block;
    font-size: medium;
    text-shadow: 0 0 5px #253858;
    background-color: #2f65c3af;
    color: rgb(60, 255, 0);
    max-width: max-content;
    border: 3px solid #aebad3;
    box-shadow: 0 0 14px #52dfd8;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 7%;
    margin-bottom: 20px;
    margin-top: -29%;
    padding: 10px;
    z-index: 2;
    transition: all 0.45s;
  }

  .project_details {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 58%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #dfe1e6;
    border-radius: 3%;
    padding-top: 12.7%;
    padding-bottom: 15%;
    padding-left: 2%;
    padding-right: 0;
    margin: auto;
    transition: all 0.4s;
  }

  .project_details:hover {
    box-shadow: 0 0 10px #172b4d;
  }

  .showpopup {
    visibility: visible;
    opacity: 1;
  }

  .detail-heading {
    padding-bottom: 3%;
    margin-left: -1%;
  }

  .detail-header {
    margin-bottom: 1%;
  }

  .description {
    display: flex;
    flex-direction: row;
  }

  .detail {
    font-family: "Poppins", sans-serif;
    width: 98%;
    font-weight: 400;
    font-size: 100%;
    line-height: 200%;
    color: #344563;
    margin-left: 1%;
  }

  .detail-image {
    width: 93%;
    height: 99%;
    border-radius: 8px;
    margin: 1%;
  }

  #buttons {
    display: flex;
    width: 32%;
    margin-right: 9%;
  }

  .live {
    margin-left: -79%;
    margin-right: 23%;
  }

  .live,
  .Source {
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: 65%;
    height: 40px;
    margin-top: 29%;
    color: #396df2;
    background-color: #fff;
    font-size: 80%;
  }

  .Source {
    margin-left: -22%;
    margin-right: -9%;
    width: 73%;
  }

  #technologies {
    margin-left: 10%;
    border-bottom: 1px solid #e5e5e5;
    margin-right: -39%;
  }

  #popup-close {
    font-size: 40px;
    float: right;
    margin-top: -10%;
    color: #67798e;
    padding-right: 3%;
    transition: all 0.2s;
  }

  #popup-close:hover {
    transform: scale(1.3);
    color: #00d9ff;
  }

  #popup-close:active {
    color: #67798e;
  }

  .menu,
  #mobile-menu,
  .snap,
  .heading1,
  .heading2 {
    display: none;
  }

  .home {
    background-color: #fff;
    width: 100%;
    height: 916px;
    border-bottom-left-radius: 10%;
  }

  .toolbar {
    width: 100%;
    height: 118px;
    display: inline-flex;
    flex-direction: row;
    padding-left: 6%;
    padding-top: 2%;
  }

  .logo {
    width: 120%;
    font-weight: 700;
  }

  .dmenu a {
    text-decoration: none;
    color: #344563;
  }

  .dmenu {
    width: 700%;
    display: flex;
    align-items: flex-end;
    padding-left: 300%;
    padding-top: 3%;
    list-style-type: none;
  }

  .port,
  .ab,
  .cont {
    width: 12%;
    font-family: "Poppins", sans-serif;
    color: #354664;
    font-weight: 500;
  }

  .ab,
  .cont {
    padding-left: 0.3%;
  }

  .headline {
    height: 721px;
    background-image: url("images3/Header\ bg@3x.png");
    background-repeat: no-repeat;
    background-size: 99.2% 99.5%;
    background-position: 95%;
    padding-left: 5%;
  }

  .hea {
    width: 150%;
    height: 122px;
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    padding-left: 9%;
  }

  .heading {
    font-family: Poppins, sans-serif;
    font-size: 300%;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .heading br {
    display: none;
  }

  .paragraph,
  .p,
  .par {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 135%;
    width: 90%;
    height: 98px;
    font-size: 130%;
    padding-left: 9%;
    margin-top: 12%;
    color: #344563;
  }

  .connect1,
  .connect {
    width: 100%;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 130%;
    font-weight: 500.24;
    line-height: 24px;
    padding-left: 9%;
    padding-top: 1%;
    color: #7f8cff;
  }

  .contact1,
  .contact {
    width: 100%;
    height: 1%;
    padding-left: 9%;
    padding-top: 1%;
    margin-top: 2%;
    display: inline-flex;
    align-items: baseline;
    list-style-type: none;
  }

  .twitter1 {
    width: 70%;
    color: #505f79;
    transition: transform 500ms ease;
  }

  .twitter1:hover {
    transform: scale(1.5);
  }

  .linkedin1 {
    width: 70%;
    color: #505f79;
    padding-left: 5%;
    transition: transform 500ms ease;
  }

  .linkedin1:hover {
    transform: scale(1.5);
  }

  .email1 {
    width: 70%;
    color: #505f79;
    transition: transform 500ms ease;
  }

  .email1:hover {
    transform: scale(1.5);
  }

  .github1 {
    width: 70%;
    color: #505f79;
    transition: transform 500ms ease;
  }

  .github1:hover {
    transform: scale(1.5);
  }

  .vector1 {
    width: 70%;
    color: #505f79;
    padding-left: 7%;
    transition: transform 500ms ease;
  }

  .vector1:hover {
    transform: scale(1.5);
  }

  .projects {
    align-self: center;
  }

  .project1,
  .project2,
  .project3,
  .project4 {
    display: flex;
    width: 85%;
    height: 50%;
    border-radius: 24px;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    flex-grow: 1;
    padding: 2%;
    margin-left: 8%;
    margin-right: 8.5%;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .snap1,
  .snap2 {
    display: flex;
    width: 110%;
    height: 96%;
    padding: 0;
    border-radius: 8px;
    margin: 2%;
  }

  .heading4,
  .heading3 {
    width: 80%;
    height: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 160%;
    line-height: 44px;
    color: #172b4d;
    font-style: normal;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 20%;
    margin-top: -5%;
    margin-left: 3%;
  }

  .canopy,
  .end1,
  .end {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 100%;
    color: #344563;
    width: 45%;
    height: 40%;
    list-style-type: none;
    margin-top: 1%;
    margin-left: -2%;
  }

  .end1,
  .end {
    width: 64%;
    color: #7a869a;
    list-style: disc;
  }

  .end {
    width: 59%;
  }

  .ht,
  .ssc,
  .sj {
    width: 97%;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    border: 0;
    font-size: 90%;
    font-weight: 500;
    color: #6070ff;
  }

  .ssc,
  .sj {
    margin-left: 15%;
  }

  .butto {
    display: flex;
    padding-inline-start: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    padding-left: 3%;
  }

  .pro1 {
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: 35%;
    height: 48px;
    margin-top: 2%;
    margin-left: 2%;
    color: #396df2;
    background-color: #fff;
    font-size: 110%;
  }

  .resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 12%;
    border: 1px solid #6070ff;
    border-radius: 7px;
    background-color: #fff;
    color: #396df2;
    font-family: "Poppins", sans-serif;
    font-size: 120%;
    padding: 2%;
    letter-spacing: 00.03em;
    margin-top: 5%;
    margin-left: 6%;
  }

  .pro1:enabled,
  .resume:enabled {
    background: #fff;
    color: #6070ff;
  }

  .pro1:hover,
  .resume:hover {
    background: #6070ff;
    color: #fff;
  }

  .pro1:active,
  .resume:active {
    background: #2230d2;
    color: #fff;
  }

  .pro3:enabled {
    background: #2230d2;
    color: #fff;
  }

  .pro1:disabled,
  .resume:disabled {
    border: 1px solid #c1c7d0;
    color: #5e6c84;
  }

  .union {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
  }

  .abt {
    display: block;
    width: 40%;
    height: 392px;
    padding-left: 10%;
  }

  .about {
    font-family: "Poppins", sans-serif;
    font-size: 170%;
    line-height: 52px;
    font-weight: 700;
    color: #172b4d;
    width: 45%;
    height: 101px;
    padding-top: 60%;
    padding-left: 6%;
    display: flex;
    align-items: center;
  }

  .par {
    width: 160%;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
    padding-left: 6%;
    padding-top: 10%;
    height: 102px;
  }

  .connect {
    font-family: "Poppins", sans-serif;
    font-size: 120%;
    line-height: 24px;
    font-weight: 500;
    color: #7f8cff;
    padding-left: 6%;
    padding-top: 20%;
  }

  .contact {
    width: 100%;
    display: inline-flex;
    padding-left: 6%;
    align-items: baseline;
    padding-top: 12%;
    list-style-type: none;
  }

  .twitter {
    width: 59%;
    color: #505f79;
  }

  .linkedin {
    width: 59%;
    color: #505f79;
  }

  .email {
    width: 59%;
    color: #505f79;
  }

  .github {
    width: 59%;
    color: #505f79;
  }

  .vector {
    width: 59%;
    color: #505f79;
  }

  .aboutself {
    background-color: #fff;
    border-top-right-radius: 90px;
    margin-top: 10%;
    height: 924px;
    padding-left: 2%;
  }

  .lang {
    width: 50%;
    height: 360px;
    padding-right: 0;
    padding-left: 20%;
  }

  li.lan,
  li.frame,
  li.skills {
    list-style-type: none;
  }

  .language {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 130%;
    color: #000;
    display: flex;
    width: 100%;
    height: 24px;
    margin-top: 50%;
  }

  .languages {
    display: flex;
    align-items: baseline;
  }

  .dropdown {
    width: 5%;
    color: #5e6c84;
    display: inline-flex;
    align-items: flex-end;
    margin-left: 70%;
  }

  .language-list {
    width: 93%;
    height: 144px;
    padding-top: 10%;
    display: inline-flex;
  }

  .ellip {
    list-style-type: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 100%;
    color: #253858;
  }

  .ellipse,
  .ellipse2,
  .ellipse3 {
    display: block;
    align-items: center;
    padding-left: 2%;
    background-color: #f7f7f9;
    width: 55%;
    height: 80%;
    border-radius: 8px;
    padding-top: 2%;
    border: 1px;
    margin-top: 5%;
    margin-left: 3%;
  }

  .frame,
  .skills {
    width: 20%;
    height: 24px;
    padding-bottom: 23px;
    padding-top: 24px;
  }

  .skills {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 120%;
    list-style-type: none;
    margin-left: -1%;
  }

  .frame {
    display: inline-flex;
    align-items: center;
    margin-left: 6%;
    padding-top: 5px;
    margin-top: 30px;
  }

  hr {
    margin-right: -15%;
  }

  .drop {
    padding-left: 450%;
  }

  .Contact {
    height: auto;
    background-color: #6070ff;
    margin-top: -20%;
    padding-top: -20%;
    border-top-left-radius: 90px;
    background-image: url("images3/contact\ form\ background\ shapes@3x.svg");
    background-repeat: no-repeat;
    background-size: 99% 100%;
    background-position: 99% center;
  }

  .contact-heading {
    height: 56px;
    font-family: Poppins, sans-serif;
    line-height: 52px;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 250%;
    padding-left: 38%;
    padding-top: 19%;
  }

  .contact-message {
    width: 60%;
    height: 102px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 130%;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-left: 20%;
    padding-top: 7%;
  }

  .form_content {
    display: flex;
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 50%;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    padding-left: 6%;
    margin-top: 15%;
    margin-left: 25%;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 130%;
    color: #172b4d;
  }

  input[type="email"],
  textarea {
    margin-top: 1%;
  }

  input[type="text"] {
    margin-top: 10%;
  }

  textarea {
    height: 170px;
  }

  .submit {
    text-align: center;
    width: 17%;
    height: 48px;
    padding-top: 1.5%;
    padding-bottom: 4%;
    margin-left: -6%;
    margin-top: 1%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    font-size: 120%;
    font-weight: 500;
    color: #396df2;
    letter-spacing: 00.03em;
    border: 1px solid #6070ff;
    margin-bottom: 3%;
  }

  .submit:enabled {
    background: #fff;
    color: #6070ff;
  }

  .submit:hover {
    background-color: #6070ff;
    color: #fff;
    border: 0.5px solid #c0c0c0;
  }

  .submit:active {
    background-color: #2230d2;
    color: #fff;
  }

  .submit:disabled {
    border: 1px solid #c1c7d0;
    color: #5e6c84;
  }

  .left-content {
    margin-left: 8%;
    margin-right: 1%;
  }

  .right-image {
    margin-left: -11%;
    margin-right: 6%;
  }

  .p {
    margin-left: -7%;
    margin-top: 3%;
  }

  /* Form Validation */
  small {
    margin-left: 25%;
    margin-right: 25%;
  }
}

li {
  list-style-type: none;
}
